@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, my friend</h1>
    <p>This was deployed when I pushed changes to reop ion GH..</p>
    <p>Now also publishing with secret variables</p>
</div>
